In [1]:
import requests
import random
from bs4 import BeautifulSoup

In [2]:
#Listing working proxies into a list
proxy_list = []
with open('validproxies.txt') as f:
    for line in f:
        proxy_list.append(line.strip())

# Sites to scrape
sites = ['https://magicpin.in/Hyderabad/Kukatpally/Restaurant/Tea-House/store/137a225/delivery/','https://magicpin.in/New-Delhi/Paharganj/Restaurant/Eatfit/store/61a193/delivery/']

In [3]:
# Colleecting response of both pages
data = []

#Iterating over proxies over each site
for site in sites:
    #Rotating Proxies 
    for i in range(14): 
        #Choosing randomnly generated ips for to avoid any patterns
        random_ip = random.choice(proxy_list)
        try:
            proxy = {
                'http':'http://'+random_ip,
                'https':'http://'+random_ip
            }
            response=requests.get(site, proxies=proxy)
            response.status_code
            
            #Collecting valid responses
            if response.status_code == 200:
                data.append(response)
                
        except:
            pass

In [4]:
#Create a list for collecting all menus and their respective details
menu = []

for r in data:        
    #parser
    soup = BeautifulSoup(r.content, 'html.parser')
    
    # Grabbing Store Name and Address
    store = soup.find('h1',class_="v2")
    add = soup.find('h2',class_="merchant-address-details")
    
    # Collecting all food and price tags
    items = soup.find_all('a', class_ = 'itemName')
    prices = soup.find_all('span', class_='itemPrice')
    
    StoreName = (store.text).strip()
    print(StoreName)
    Address = (add.text).strip()
    print(Address)
    
    # Combining both lists into one
    for item,price in zip(items,prices):
        menu.append([item.text,price.text,StoreName,Address])

Tea House
Kukatpally, Hyderabad.
EatFit
Paharganj, New Delhi.

In [5]:
import pandas as pd
df = pd.DataFrame(menu, columns=['Menu','Prices','Store Name','Store Address'])
df

                         Menu  Prices Store Name           Store Address
0            Strawberry Lassi    ₹59   Tea House  Kukatpally, Hyderabad.
1           Royal Dates Lassi    ₹69   Tea House  Kukatpally, Hyderabad.
2    Immunity Tea Flask 500ml   ₹159   Tea House  Kukatpally, Hyderabad.
3            Strawberry Lassi    ₹59   Tea House  Kukatpally, Hyderabad.
4           Royal Dates Lassi    ₹69   Tea House  Kukatpally, Hyderabad.
..                        ...     ...        ...                     ...
140       Mixed Fruit (200ml)    ₹89      EatFit   Paharganj, New Delhi.
141          Lemonade (200ml)    ₹75      EatFit   Paharganj, New Delhi.
142         Sugarcane (200ml)    ₹62      EatFit   Paharganj, New Delhi.
143       Pomegranate (200ml)   ₹107      EatFit   Paharganj, New Delhi.
144            Orange (200ml)   ₹107      EatFit   Paharganj, New Delhi.

[145 rows x 4 columns]